body {
	display: grid;
	justify-items: center;
	font-family: poppins;
}

button {
	cursor: pointer;
}

.main-title {
	font-size: 4rem;
}

.save-project-container {
	display: flex;
	margin: 2rem 0;
}

.project-input {
	width: 10rem;
}

.save-project-btn {
	width: 10rem;	
}

.all-palettes {
	display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 100vw;
  height: 15rem;
}

.palette {
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 2px solid black;*/
}

.palette-1 {
	background-color: red;
}

.palette-2 {
	background-color: green;
}

.palette-3 {
	background-color: orange;
}

.palette-4 {
	background-color: blue;
}

.palette-5 {
	background-color: yellow;
}

.fa-lock-open {
	font-size: 1.5rem;
}

.fas {
	cursor: pointer;
}

.save-palette-container {
	display: flex;
	margin: 1.25rem 0;
}

.project-select {

}

.new-palette-btn {
	width: 10rem;	
	margin: 1.25rem 0;
}

.palette-input {
	width: 10rem;
}

.save-palette-btn {
	width: 10rem;		
}

.palette-break {
	border: 1px solid black;
	color: black;
	width: 30rem;
    outline-offset: none;
}