body {
	display: grid;
	justify-items: center;
	font-family: 'Baloo Chettan', sans-serif;
}

button {
	cursor: pointer;
	border-radius: 20px;
}

.button-blue {
	border: 1px solid #0280FC;
	color: #0280FC;
	font-weight: 700;
}

button:focus {
	outline: none;
}

input {
	border-radius: 20px;
	outline: none;
	box-shadow: none;
	margin: 0 1rem 0 0;
	padding: 0 0 0 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
  border: 1px solid #ddd;
  font-size: 1rem;
  font-family: 'Baloo Da';
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
  width: 100%;
  height: 4.75rem;
  /*padding: 0 1rem 0 3rem;*/
	border: 1px solid #E7E9EB;
}

.main-title {
  font-size: 2.5rem;
  color: #0280FC;
  padding: 0 0 0 1rem;
  /*font-family: 'Raleway';*/
  /*font-family: 'Baloo Chettan', cursive;*/
  font-family: 'Baloo Da', cursive;
  font-weight: 400;
	/*font-family: 'Fredoka One', cursive;*/
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	margin: 0.5rem 1rem 0.75rem 0;
}

.save-project-container {
  display: flex;
  border-radius: 20px;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  /* padding: 0 2rem; */
  margin: 0.75rem 0 0;
}

.project-error-container {
	height: 1rem;
}

.project-error {
	color: red;
}

.create-project {
	color: #0280FC;
	margin: 0 1rem 0 0;
}

.project-input {
	width: 12rem;
	height: 73%;
}

.save-project-btn {
	width: 10rem;	
	height: 73%;
	font-size: 1rem;
}

.save-project-btn:hover {
	background-color: #0280FC;
	color: #FFF;
}

.all-colors {
	display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 100vw;
  height: 17rem;
}

.palette {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*border: 2px solid black;*/
}

.lock-btn {
	background-image: url('./../assets/unlocked.svg');
	cursor: pointer;
	height: 3rem;
	width: 3rem;
	background-position: center;
	background-size: cover;
	border: transparent;
	background-color: rgba(100, 100, 100, 0);
	margin: 0 0 0.5rem;
}

.locked {
	background-image: url('./../assets/locked.svg');	
}

.save-palette-main {
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.save-palette-container {
	display: flex;
  border-radius: 3px;
	height: 4rem;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 2rem;
	width: 100%;
	border-top: 1px solid #E7E9EB;
	border-bottom: 1px solid #E7E9EB;
}

.dropdown-container {
  width: 120%;
  overflow: hidden;
}

.dropdown-container select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1.1rem;
  width: 128%;
  background: url('./../assets/arrow-down.svg') no-repeat;
  background-position: 60% center;
  background-size: 20px;
  outline: none;
  font-family: Baloo Da;
  color: #5c5757;
}

.project-select {
	cursor: pointer;
	outline: none;
}

.new-palette-btn {
	height: 3rem;
	font-size: 1rem;
	width: 15rem;	
	margin: 1.75rem 0 1.75rem;
	background-color: #0280FC;
	color: #FFF;
	font-weight: 700;
	border-radius: 50px;
	border: none;
}

.new-palette-btn:hover {
	background-color: #fccb65;
	color: #000;
}

.palette-input {
	width: 117%;
	height: 50%;
}


.save-palette-btn {
	width: 30rem;	
	font-weight: 700;
	height: 50%;
	border: 1px solid #0280FC;
	color: #0280FC;
  margin: 0 0 0 1rem;
  font-size: 1rem;
}

.save-palette-btn:hover {
	background-color: #0280FC;
	color: #FFF;
}


.palette-error-container {
	height: 1rem;
}

.palette-error {
	color: red;
  margin: 1rem 0 0 0;
}

.saved-project-palettes {
	display: flex;
  flex-direction: column;
  margin: 2rem 0;
	border-top: 1px solid #E7E9EB;
	border-bottom: 1px solid #E7E9EB;
  height: auto;
  align-items: center;
  justify-content: center;
	padding: 0.5rem 2rem 1rem;
  width: 19rem;
}

.palette-swatch {
	display: flex;
  align-items: center;
	cursor: pointer;
}

.palette-swatch:hover > .bullet-hover {
  visibility: visible;
}

.bullet-hover {
	height: 0.5rem;
  width: 0.5rem;
  background-color: #0280FC;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  visibility: hidden;
}

.palette-name {
	cursor: pointer;
  color: #5c5757;
  margin: 0 0.75rem 0 0;
}


.saved-project-header {
  color: #0280FC;
  font-weight: 700;
  margin: 0.75rem 0 0.5rem 0;
  font-size: 1.25rem;
 	width: auto;
}

.project-header-name {
	color: #34352c;
	margin: 0 0 0 0.5rem;
}

.saved-palettes {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 80%;
}

.palette-thumb {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.25rem;
	/*background-color: red;*/
	border-radius: 5px;
	cursor: pointer;
}

.palette-swatch-hex {
	display: none;
  outline-offset: none;
}

.delete-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	border: 1px solid red;
	background-color: red;
	color: #FFF;
	font-weight: 700;
	margin: 0 0 0 0.35rem;
}

.delete-btn:hover {
	background-color: #000;
	border: 1px solid #000;
}


@media (max-width: 882px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'title'
    'input';
    height: 7rem;
    justify-content: center;
  }

  .main-title {
  	grid-area: title;
    padding: 1rem 0 0 0;
    margin: 0 auto;
    width: 50%;
    text-align: center;
  	font-size: 2rem;
  }

  .header-left {
  	grid-area: input;
  	margin: 0;
  }

  .save-project-container {
  	margin: 0;
  }

  .palette-input {
  	font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
	.header {
		width: 100vw;
	}

	.main-title {

	}

  .header-left {
		width: 100vw;
  }

	.all-colors {
		grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
	}

	.palette {
		flex-direction: row;
	}

	.lock-btn {
		height: 2rem;
		width: 2rem;
	}

  .palette-input {
  	font-size: 0.5rem;
  }	
}